*{
    margin: 0;
    padding: 0;   
}

body{    
    font-family: 'Montserrat', sans-serif;    
}

a{
    text-decoration: none;
}

.center{
    padding-left: calc(50% - 640px);
    padding-right: calc(50% - 640px);
}

.top{
    height: 1024px;
    background-image: url(img/wall1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__title{
        font-style: normal;        
        font-size: 64px;
        line-height: 78px;
        display: flex;        
        color: #FFFFFF;
        width: 789px;
        padding-top: 217px;
    }

    &__text{
        font-style: normal;        
        font-size: 18px;
        line-height: 32px;       
        color: #FFFFFF;
        width: 481px;
        margin-top: 32px;
        margin-bottom: 44px;
    }

    &__button{
        width: 234.06px;
        height: 48.6px;
        left: 120px;
        top: 482.11px;
        background: #9C0332;
        border-radius: 30px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        align-items: center;
        color: #FFFFFF;
    }

}

.product{   
    height: 1024px;
    background-image: url(img/wall2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
        
    &__game_img{
        margin-top: 128px;       
    }

    &__game_text{
        color: #FFFFFF; 
        position: relative;
        bottom: 55px;
        left: 32px;
        font-style: normal;        
        font-size: 24px;        
    }

    
   
    
}
